<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <form action="/create" method="POST">
    <%- include("partials/errors.ejs") %>
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName" required>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName" required>
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" required>
    <label for="age">Age (optional):</label>
    <input type="number" id="age" name="age" min="18" max="120">
    <label for="bio">Bio (optional, max 200 characters):</label>
    <textarea id="bio" name="bio" maxlength="200"></textarea>
    <button type="submit">Submit</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
